.bulle-cal-in {
    background-color: #007bff; /* Fond bleu */
    color: white; /* Texte en blanc */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 150px; /* Taille fixe */
    box-sizing: border-box;
  }
  
  .bulle-cal-in h2 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .calories {
    font-size: 1rem; 
    font-weight: bold;
    margin-top: 10px;
  }
  