.bulletitre-button {
    background-color: #42974B;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .bulletitre-button h2 {
    margin: 0;
    font-size: 1.25rem;
  }
  