html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  

  .container-fluid {
    flex-grow: 1; 
  }
  

  footer {
    background-color: #42974B;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: relative;
  }
  

  #page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  #page-content .container {
    flex-grow: 1;
  }
  