/* Profile.css */

/* S'assure que la page occupe toute la hauteur et s'adapte au contenu */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Container principal pour que le contenu occupe l'espace restant */
  .container-fluid {
    flex-grow: 1; /* Le contenu prend tout l'espace disponible avant le footer */
  }
  
  /* Footer statique en bas de la page */
  footer {
    background-color: #42974B;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: relative; /* Le footer est placé normalement */
  }
  
  /* Flexbox parent pour forcer le contenu à occuper l'espace avant le footer */
  #page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assure que la page fait toujours au moins la hauteur de la fenêtre */
  }
  
  #page-content .container {
    flex-grow: 1;
  }
  