.form-register {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}

.form-outline input {
  padding: 10px;
}

.btn {
  padding: 12px 20px;
}

@media (max-width: 768px) {
  .form-register {
    width: 100%;
  }

  .social-buttons button {
    font-size: 1.25rem;
  }
}

@media (max-width: 390px) {
  .form-register {
    padding: 10px;
  }

  .btn {
    padding: 10px 15px;
  }

  .form-outline input {
    padding: 8px;
  }
}